/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@500&display=swap');
body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fff;
  color: #000;
  max-width: 1000px;
  padding: 0px 10px;
  margin: 0 auto;
  font-size: 1.1rem;
}

header {
  margin-bottom: 1rem;
  font-family: "Poppins", serif;
  color: #ff7575;
  font-weight: 500;
  font-style: normal;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
  grid-gap: 20px;
  list-style: none;
  padding: 0;
}

.post-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.post-card a {
  text-decoration: none;
  color: inherit;
}

.post-card img {
  width: 100%;
  height: 200px; /* Adjust as needed */
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  background-color: #e7e7e7;
  color: #333;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 0.9em;
}

.emoji-box {
  font-size: 3em; /* Adjust emoji size as needed */
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #eee; /* Add a subtle border */
  background-color: #cbcbcb;
}

