{{ define "main" }}

<h1> {{ .Site.Title }}</h1>

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages
}}<!---->

<section class="">
  <h2 class="">{{ .Title }}</h2>
  <time class=""
    >{{ .Date | time.Format ":date_medium" }}</time
  >
  <a class="" href="{{ .Permalink }}">{{ .Title }}</a>
</section>
{{ end }}

{{ end }}